# Ignore project files
.project
.cproject
.pydevproject
.settings/

# ignore directories and files created by running examples
examples/pyuaf/client/securityexample/

# Ignore python bytecode
*.py[cod]

# Ignore compiled libraries etc.
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
