# Ignore everything below build/
build/*

# Ignore project files
.project
.cproject
.pydevproject
.settings/

# Ignore python bytecode
*.py[cod]

# Ignore compiled libraries etc.
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
